
hr{

 height: 3px !important;
 width: 20%;
 margin-top: 0 !important;
 margin: 0;
 background: #EC7063;
 border: none;

 position: relative; /* has to be position relative for left to work, or you could just do margin-left: -50px; too */
 left: 40%;

}
